div{
  margin: 0 0 15px 0;
    border : none;
}

.regLabel {
    display: inline-block;
    width: 25%;
    text-align: right;
    margin: 10px
}

input[type=text], input[type=password]{
    width: 25%; 
    font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
    padding: 5px;
    font-size: 0.9em;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.07);
}
.submitbutton {
  width: 10%; 
  font-size: 1em;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #59B969;
  box-shadow: 0 1px 0 0 #60BD49 inset;
  margin: 10px;
  position: absolute;
  right: 60%; 
}
.button {
  width: 10%; 
  font-size: 1em;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #59B969;
  box-shadow: 0 1px 0 0 #60BD49 inset;
  margin: 10px;
  position: absolute;
  right: 48%; 
}
.userlist {
  width: 150%;
  max-width: 600000px;
  margin: 10px;
  position: absolute;
  left: 20%;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

.UserListButton {
  width: 10%; 
  font-size: 1em;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #59B969;
  box-shadow: 0 1px 0 0 #60BD49 inset;
 }